@use '../../scss/config.scss' as *;

.rating {
  text-align: center;
}

.arrowUp,
.arrowDown {
  all: unset;
  fill: white;
  cursor: pointer;
  transition: $transitionSpeed;

  &:hover {
    opacity: 80%;
  }

  &:active {
    transform: scale(0.9);
  }
}

.arrowUp {
  svg {
    transform: rotate(270deg);
  }
}

.arrowDown {
  svg {
    transform: rotate(90deg);
  }
}

.arrowActive {
  fill: $accent;
}
