rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // function onlyHasMarker() {
    //   return incomingData().keys().hasOnly(["exists"]) 
    //     && incomingData().exists == true;
    // }
    
    function incomingData() {
    	return request.resource.data;
    }

    function existingData() {
      return resource.data;
    }

    function isVerified() {
      return request.auth.token.email_verified == true;
    }

    function documentFieldsCheckOut(requiredFields, optionalFields) {
      let allFields = requiredFields.concat(optionalFields);
      let requestKeys = incomingData().keys();
      return requestKeys.hasAll(requiredFields) && requestKeys.hasOnly(allFields);
    }

    function editChangesOnlyFields(allowedFields) {
      let affectedKeys = incomingData().diff(resource.data).affectedKeys();
      return affectedKeys.hasOnly(allowedFields);
    }

    function categoryExists(categoryId) {
      return exists(/databases/$(database)/documents/categories/$(categoryId))
    }

    function isOwnerOfCategory(uid, categoryId) {
      return uid == get(/databases/$(database)/documents/categories/$(categoryId)).data.ownerId;
    }

    function isModeratorOfCategory(uid, categoryId) {
      return exists(/databases/$(database)/documents/categories/$(categoryId)/moderatorIds/$(uid));
    }
    
    function isSubscriberOfCategory(uid, categoryId) {
      return exists(/databases/$(database)/documents/categories/$(categoryId)/subscriberIds/$(uid));
    }

    function isBannedFromCategory(uid, categoryId) {
      return exists(/databases/$(database)/documents/categories/$(categoryId)/bannedIds/$(uid));
    }

    // Rules
    match /users/{userId} {      
      allow read;
      allow create, update: if request.auth.uid == userId 
        && documentFieldsCheckOut(['username'], [])
        && incomingData().username is string;
    }

    match /categories/{categoryId} {  
      allow read;

      allow create: if documentFieldsCheckOut(['ownerId'], []) 
        && request.auth.uid == incomingData().ownerId
        && isVerified()
        && categoryId.size() > 2
        && categoryId.matches('^[a-z0-9]+$');

      allow update: if documentFieldsCheckOut(['ownerId'], [])
        && isVerified()
        && isOwnerOfCategory(request.auth.uid, categoryId);

      match /moderatorIds/{moderatorId} {
        allow create: if documentFieldsCheckOut(['uid', 'categoryId'], [])
          && incomingData().categoryId == categoryId
          && incomingData().uid == moderatorId
          && isVerified()
          && isOwnerOfCategory(request.auth.uid, categoryId);
        allow delete: if isVerified()
          && (
            isOwnerOfCategory(request.auth.uid, categoryId) 
            || request.auth.uid == moderatorId
          );
      }

      match /subscriberIds/{subscriberId} {
        allow create: if documentFieldsCheckOut(['uid', 'categoryId'], [])
          && incomingData().uid == subscriberId
          && incomingData().categoryId == categoryId
          && request.auth.uid == subscriberId
          && isVerified()
          && categoryExists(categoryId)
          && !isBannedFromCategory(request.auth.uid, categoryId)
          
        allow delete: if isVerified()
          && (
            isOwnerOfCategory(request.auth.uid, categoryId) 
            || isModeratorOfCategory(request.auth.uid, categoryId) 
            || request.auth.uid == subscriberId
          );
      }

      match /bannedIds/{bannedId} {
        allow create: if documentFieldsCheckOut(['uid', 'categoryId'], [])
          && incomingData().uid == bannedId
          && incomingData().categoryId == categoryId
          && isVerified()
          && (
            (
              isModeratorOfCategory(request.auth.uid, categoryId) 
              && !isOwnerOfCategory(bannedId, categoryId)
            )          
            || isOwnerOfCategory(request.auth.uid, categoryId)
          );

        allow delete: if isVerified()
          && (
            isModeratorOfCategory(request.auth.uid, categoryId) 
            || isOwnerOfCategory(request.auth.uid, categoryId)
          );      
      }
    }

    match /posts/{postId} {
      function isOwnerOfPost() {
        return existingData().authorId == request.auth.uid
      }

      function getPostTitle() {
        return get(/databases/$(database)/documents/posts/$(postId)).data.title
      }

      allow read;

      allow create: if isVerified() 
        && documentFieldsCheckOut(['title', 'body', 'authorId', 'categoryId'], [])
        && incomingData().title is string
        && incomingData().title.size() >= 3
        && incomingData().body is string
        && incomingData().authorId == request.auth.uid
        && categoryExists(incomingData().categoryId)
        && (
          isSubscriberOfCategory(request.auth.uid, incomingData().categoryId) 
          || isModeratorOfCategory(request.auth.uid, incomingData().categoryId)
          || isOwnerOfCategory(request.auth.uid, incomingData().categoryId)
          )
        && !isBannedFromCategory(request.auth.uid, incomingData().categoryId);

      allow update: if isVerified()
        && editChangesOnlyFields(['title', 'body'])
        && incomingData().title is string
        && incomingData().title.size() >= 3
        && incomingData().body is string
        && (
          isOwnerOfPost()
          || isModeratorOfCategory(request.auth.uid, existingData().categoryId)
          || isOwnerOfCategory(request.auth.uid, existingData().categoryId)
        )
        && !isBannedFromCategory(request.auth.uid, existingData().categoryId);

      allow delete: if isVerified()
        && (
          isOwnerOfPost()
          || isModeratorOfCategory(request.auth.uid, existingData().categoryId)
          || isOwnerOfCategory(request.auth.uid, existingData().categoryId)
        )
        && !isBannedFromCategory(request.auth.uid, existingData().categoryId);

      match /upVoteIds/{upVoteId} {
        allow read;

        allow create: if isVerified()
          && documentFieldsCheckOut(['uid', 'title', 'postId'], [])
          && incomingData().uid == upVoteId
          && incomingData().postId == postId
          && request.auth.uid == upVoteId
          && incomingData().title == getPostTitle()

        allow delete: if isVerified()
          && request.auth.uid == upVoteId
      }

      match /downVoteIds/{downVoteId} {
        allow read;
        
        allow create: if isVerified()
          && documentFieldsCheckOut(['uid', 'title', 'postId'], [])
          && incomingData().uid == downVoteId
          && incomingData().postId == postId
          && request.auth.uid == downVoteId
          && incomingData().title == getPostTitle()

        allow delete: if isVerified()
          && request.auth.uid == downVoteId
      }

      match /{path=**}/comments/{commentId} {
        function getCategory(postId) {
          return get(/databases/$(database)/documents/posts/$(postId)).data.categoryId
        }

        allow read;

        allow create: if isVerified()
          && documentFieldsCheckOut(['body', 'authorId'], [])
          && incomingData().authorId == request.auth.uid
          && incomingData().body is string
          && incomingData().body.size() > 0
          && (
            isSubscriberOfCategory(request.auth.uid, getCategory(postId))
            || isModeratorOfCategory(request.auth.uid, getCategory(postId))
            || isOwnerOfCategory(request.auth.uid, getCategory(postId))
          )
          && !isBannedFromCategory(request.auth.uid, getCategory(postId));

        allow update: if isVerified()
          && (
            (
              request.auth.uid == existingData().authorId 
              && editChangesOnlyFields(['body', 'deleted'])
            ) 
            || editChangesOnlyFields(['body'])
          )
          && incomingData().body is string
          && incomingData().body.size() > 0
          && (
              request.auth.uid == existingData().authorId
              || isModeratorOfCategory(request.auth.uid, getCategory(postId))
              || isOwnerOfCategory(request.auth.uid, getCategory(postId))
          )
          && !isBannedFromCategory(request.auth.uid, getCategory(postId));

        allow delete: if isVerified()
          && (
            request.auth.uid == existingData().authorId
            || isModeratorOfCategory(request.auth.uid, getCategory(postId))
            || isOwnerOfCategory(request.auth.uid, getCategory(postId))
          )
          && !isBannedFromCategory(request.auth.uid, getCategory(postId));
      }
    }

    // collection group queries
    match /{path=**}/subscriberIds/{subscriberId} {
      allow read;
    }
    match /{path=**}/moderatorIds/{moderatorId} {
      allow read;
    }
    match /{path=**}/upVoteIds/{upVoteId} {
      allow read;
    }
    match /{path=**}/downVoteIds/{upVoteId} {
      allow read;
    }    
  }
}