@use '../../scss/config.scss' as *;

.flex {
  display: flex;
  align-items: center;
}

.title a {
  @include h3;
  color: $light2;
  text-decoration: none;
  transition: $transitionSpeed;
  outline: none;

  &:hover,
  &:focus {
    color: $light2-hover;
  }

  &:focus {
    text-decoration: underline;
  }
}

.grid {
  margin-left: 1rem;
  display: grid;
  gap: 1rem;
}
