@use '../../scss/config.scss' as *;

$headerBackground: $dark1;

.header {
  background: $headerBackground;
  border-bottom: 2px solid $primary;
  @include box-shadow;
  position: relative;
  transform: translateY(-100%);
  transition: 400ms;
  z-index: 1000;
}

.headerAnimate {
  transform: translateY(0);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 4rem;
}

.logo {
  color: $light2;
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
}
