@use './config.scss' as *;
@use './spacings.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  background: $dark1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

input {
  /* Removes autofill styles from Chrome/Firefox */
  filter: none;
  -webkit-box-shadow: 0 0 0 30px $dark3 inset !important;
  box-shadow: 0 0 0 30px $dark3 inset !important;
  -webkit-text-fill-color: white !important;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background: rgba($light1, 0.1);
  border-radius: 100%;
  fill: $light3;
  transition: $transitionSpeed;
  cursor: pointer;

  &:hover {
    background: rgba($light3, 0.05);
  }

  svg {
    width: 20px;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-width: 1px;
  border-radius: 5000px;
  border-style: solid;
  padding: 0.5em 2em;
  font-size: 0.9rem;
  font-weight: 700;
  transition: $transitionSpeed;

  &:hover {
    cursor: pointer;
  }
}

.btn-white {
  background: white;
  border-color: white;
  color: black;

  &:hover,
  &:focus {
    background: #eee;
    border-color: #eee;
  }
}

.btn-primary {
  background: $primary;
  border-color: $primary;
  color: white;

  &:hover,
  &:focus {
    background: darken($primary, 5);
    border-color: darken($primary, 5);
  }
}

.btn-outline-white {
  background: rgba(0, 0, 0, 0);
  border-color: white;
  color: white;

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.1);
  }
}
