$spaceamounts: (1, 2, 3, 4); // increments of 0.5 rem

// gap, row-gap, column-gap classes
$gaps: (gap, row-gap, column-gap);
@each $space in $spaceamounts {
  @each $gap in $gaps {
    .#{$gap}-#{$space} {
      #{$gap}: #{$space * 0.5}rem;
    }
  }
}

// margin and padding classes per side (ex: ml-1, pt-2, etc)
$sides: (top, bottom, left, right);
@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 0.5}rem;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * 0.5}rem;
    }
  }
}

// margin and padding classes per y-axis (ex: my-1, py-2, etc)
@each $space in $spaceamounts {
  .my-#{$space} {
    margin-bottom: #{$space * 0.5}rem;
    margin-top: #{$space * 0.5}rem;
  }

  .py-#{$space} {
    padding-bottom: #{$space * 0.5}rem;
    padding-top: #{$space * 0.5}rem;
  }
}

// margin and padding classes per x-axis (ex: mx-1, px-2, etc)
@each $space in $spaceamounts {
  .mx-#{$space} {
    margin-left: #{$space * 0.5}rem;
    margin-right: #{$space * 0.5}rem;
  }

  .px-#{$space} {
    padding-left: #{$space * 0.5}rem;
    padding-right: #{$space * 0.5}rem;
  }
}
